<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ isEditMode? 'Editar Residencial': 'Crear Recidencial'}} </h4>
            <p class="card-category">Completar información</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="save()" class="my-4">  
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="companyInput">Nombre</label>
                  <input id="name" class="form-control" placeholder="Nombre" [(ngModel)]="residencial.name" name="name"
                    #name="ngModel" required>
                  <div class="alert text-danger mt-1 pt-1 pb-1 px-0" *ngIf="!name.valid && !name.pristine">
                    El campo nombre es obligatorio.
                  </div>

                </div>
                <div class="col-md-4 mb-3">
                  <label for="companyInput">Dirección</label>
                  <input id="address" class="form-control" placeholder="Dirección" [(ngModel)]="residencial.address"
                    name="address" #address="ngModel" required>
                  <div class="alert text-danger mt-1 pt-1 pb-1 px-0" *ngIf="!address.valid && !address.pristine">
                    El campo dirección es obligatorio.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="companyInput">URL imagen</label>
                  <input id="imageUrl" class="form-control" placeholder="URL imagen" [(ngModel)]="residencial.imageUrl"
                    name="imageUrl" #imgUrl="ngModel" required>
                  <div class="alert text-danger mt-1 pt-1 pb-1 px-0" *ngIf="!imgUrl.valid && !imgUrl.pristine">
                    El campo imgUrl es obligatorio.
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success float-right">{{ isEditMode ? 'Actualizar' : 'Crear'
                }}</button>
              <button class="btn btn-primary float-right" (click)="cancelar()">Cancelar</button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>