<div class="main-content">
  <div class="container-fluid">
    <div class="input-group rounded d-flex" *ngIf="showSearchField">
      <input type="text" [(ngModel)]="searchTerm" class="form-control col-md-12 mt-2 mx-2" placeholder="Buscar...">
      <button class="btn btn-danger btn-rounded btn-just-icon float-right mx-1" (click)="showSearch()">
        <i class="material-icons">close</i> 
      </button>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <button type="button" class="btn btn-info me-2 float-right" (click)="createComponent()">
              Crear 
              <i class="fas fa-plus fa-beat"></i>
            </button>
            <button class="btn btn-success btn-rounded btn-just-icon float-right mx-1" *ngIf="!showSearchField" (click)="showSearch()">
              <i class="material-icons">search</i>      
            </button>
            <h4 class="card-title ">Visitantes</h4>
            <p class="card-category"> Lista de visitantes </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">                
                  <th>
                    Nombre
                  </th>
                  <th>
                    Apellido
                  </th>                   
                  <th>
                      Número de Identidad
                  </th>
                  <th>
                      Teléfono
                  </th>
                  <th>
                      Motivo
                  </th>
                  <th>
                      Observaciones
                  </th>

                  <th>
                    Acciones
                  </th>
                </thead>                
                <tbody>
                  <tr *ngFor="let visitante of visitantes | filterVisitantes: searchTerm">
                    <td>
                      {{ visitante.nombre }}
                    </td>
                    <td>
                      {{ visitante.apellido }}
                    </td>              
                    <td>
                      {{ visitante.numeroIdentidad }}                        
                    </td>
                    <td>
                      {{ visitante.telefono }}
                    </td>
                    <td>
                      {{ visitante.motivo }}
                    </td>
                    <td>
                      {{ visitante.observaciones }}
                    </td> 
                    <td>
                      <button type="button" class="btn btn-info btn-sm" (click)="edit(visitante)">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="delete(visitante)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>