<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ isEditMode ? 'Editar Inmuebles' : 'Crear Inmuebles' }}</h4>
            <p class="card-category">Completar información</p>
          </div>
          <div class="card-body">
            <form [formGroup]="formInmuebles" (ngSubmit)="save()" class="my-4">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="name">Nombre</label>
                  <input id="name" class="form-control" placeholder="Nombre" name="name" formControlName="name">
                  <div class="alert text-danger mt-1 pt-1 pb-1 px-0" *ngIf="!Nombre.valid && !Nombre.pristine">
                    El campo nombre es obligatorio.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="CreatedBy">CreatedBy</label>
                  <input id="CreatedBy" class="form-control" placeholder="createdBy" name="createdBy" formControlName="createdBy">
                  <div class="alert text-danger mt-1 pt-1 pb-1 px-0" *ngIf="!CreatedBy.valid && !CreatedBy.pristine">
                    El campo CreatedBy es obligatorio.
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success float-right">{{ isEditMode ? 'Actualizar' : 'Crear'
                }}</button>
              <button type="button" class="btn btn-primary float-right mr-2" (click)="cancelar()">Cancelar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
